@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
.input1{
     width: 300px;

    background: transparent;
    border: none;
    border-bottom: 1px solid lightgrey;
     height: 20px;
    font-size: medium;
     margin-left: 15px;

}

.edit-profile-table tr{
    font-size: medium;
}

.edit-profile-button {
    border: none;
    background: transparent;
    font-size: small;
    color: #2f5597;
    cursor: pointer;
    padding-top: 20px;

}
.edit-profile-button:hover{
    text-decoration: underline;
}
.edit-profile-subtitle{
    font-size: small;
    color: dimgrey;
}

.display-msg
{
    color:red;
    font-size:small;
}

.textarea1 {
    display: block;
    padding: .5rem .75rem;
    width: 100%;
    /*font-size: 1rem;*/
    font-size: medium;
    line-height: 1.25;
    border: orange;
    background-clip: padding-box;

}

.table2 {
     position:relative;
     color: #333; /* Lighten up font color */
     font-family: Helvetica, Arial, sans-serif; /* Nicer font */
     width: 320px;
     border-collapse: collapse; border-spacing:0;
     margin: 0 auto

 }


.td2{
    height: 40px;
    width: 100px;
    text-align: left; /* Center our text */
    float:left;


}
.edit{
    margin-top: 20px;
    font-size: medium;
    background: transparent;
    border:none;
    color: #2f5597;
    padding: 10px;
    cursor: pointer;
}
.edit:hover{
    text-decoration: underline;

}
.labelprofile{
    /* Other styling.. */
    text-align:left;
    clear: both;
    float:left;
    margin-right:55px;
    width:200%;
    height:100%;

}
select{
    height: 20px;
    line-height:20px;
    margin-left: 15px;
    font-size: small;
}