.friend-profile-pic-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #ebebeb;
    margin-left: auto;
    margin-right: auto;
}


.friend-profile-pic {
    float: left;
    height: 100%;
}

#friend-detail-table{
    padding: 5px;
    font-size: small;
}

#friend-detail-table td {
    padding-top: 7px;
    padding-left: 15px;
    max-width: 350px;
    vertical-align: top;
}

.friend-profile-button {
    font-size: small;
    background: transparent;
    border-radius: 20px;
    border:solid 1px lightgrey;
    color: #2f5597;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
}

