.friend-profile-pic-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    border: solid 3px #ebebeb;
    margin-left: auto;
    margin-right: auto;
}


.friend-profile-pic {
    float: left;
    height: 100%;
}

#friend-detail-table{
    padding: 5px;
    font-size: small;
}

#friend-detail-table {
    padding-top: 7px;
    padding-left: 15px;
    max-width: 350px;
    vertical-align: top;
}

.friend-profile-button {
    font-size: medium;
    background: transparent;
    border:transparent;
    color: #2f5597;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
}
.table4 {
    position: relative;
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 320px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    margin-left:450px;

}

