
#edit{
    cursor: pointer;
    background: transparent;
    border: transparent;
    font-size: small;
    color: #2f5597;

   }



.profile-pic-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #ebebeb;
    margin-left: auto;
    margin-right: auto;
}


.profile-pic {
    float: left;
    height: 100%;
}

#infolist{
    padding: 5px;
    font-size: small;
}

#infolist td {
    padding-top: 7px;
    padding-left: 15px;
    max-width: 350px;
    vertical-align: top;
}

.table3 {
    position:relative;
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 320px;
    border-collapse: collapse; border-spacing:0;
    margin: 0 auto

}


.td3{
    height: 40px;
    width: 100px;
    text-align: left; /* Center our text */
    float:left;
    margin-left: 40px;

}

.td4 {
    width: 40px;
    height: 40px;
    overflow: hidden;
    align-items: right;
    margin-left: 140px;
    margin-right: auto;

}