
#edit{
    cursor: pointer;
    background: transparent;
    border: transparent;
    font-size: large;
    font-style: Helvetica;
    color: #00649F;

   }


#content{
   text-align: center;
}

.profile-pic-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #ebebeb;
    margin-left: auto;
    margin-right: auto;
}


.profile-pic {
    float: left;
    height: 100%;
}

#infolist{
    padding: 5px;
    font-size: small;
}

#infolist td {
    padding-top: 7px;
    padding-left: 15px;
    max-width: 350px;
    vertical-align: top;
}


