
.chat_view_container {
    min-width: 500px;
    width: 100%;
    height: calc(100vh - 95px);
    margin-left: auto;
    margin-right: auto;
}

.portal_container {
    float: left;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.session_container {
    float: left;
    width: calc(70% - 1px);
    height: 100%;
    border-left: solid 1px lightgrey;
}

