.chat_portal_inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.search_box_bar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border-bottom: solid 1px lightgrey;
}

.portal-search-box {
    margin-top: 12px;
    border-radius: 15px;
    margin-left: 20px;
    width: calc(100% - 120px);
    height: 25px;
    font-size: smaller;
    background-color: #ebebeb;
    color: dimgrey;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.portal-new-chat-button {
    margin-left: 5%;
    margin-top: 12px;
    height: 25px;
    font-size: smaller;
    border: none;
    background: transparent;
    color: #2f5597;
    cursor: pointer;
}

.below_search_chat_bar {
    float: top;
    height: calc(100% - 51px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat_icon_container {
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #ebebeb;
    margin-left: 10px;
}

.chat_icon_container_active {
    float: left;
    width: 55px;
    height: 55px;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #ebebeb;
    margin-left: 10px;
}

.chat_icon {
    float: left;
    height: 100%;
}

.portal_text_container {
    width: calc(100% - 80px);
    margin-left: 50px;
    margin-top: 5px;
    font-size: smaller;
    overflow-x: hidden;
}

.portal_title {
    margin-left: 5%;
    width: 95%
}

.portal_time {
    color: grey;
    margin-left: 5%;
    margin-top: 2px;
    font-size: xx-small;
}

.portal_entry {
    min-height: 40px;
    float: top;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-bottom: solid 1px lightgrey;
}

.portal_entry_unread {
    min-height: 40px;
    float: top;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-bottom: solid 1px lightgrey;
    font-weight: bolder;
}

.portal_entry_active {
    background-color: #ebebeb;
    min-height: 60px;
    float: top;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-bottom: solid 1px lightgrey;
}

