.message_container {
    max-height: 80%;
    height: calc(90vh - 110px);
    overflow-y: scroll;
    width: calc(100% - 2px);
    margin-top: 10px;
}

.message_container_bottom_padding {
    float: left;
    width: 100%;
    height: 5px;
}

.input_holder {
    width: 100%;
    height: calc(11vh - 15px);
    border-top: solid 1px lightgrey;
}

.message_input {
    width: 90%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    overflow: scroll;
    border: transparent;
    font-size: smaller;
    font-family: sans-serif;
    resize: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.message_row {
    float: left;
    width: 100%;
    font-size: smaller;
    overflow-wrap: break-word;
    margin-bottom: 3px;
}

.sender {
    float: left;
    width: 100%;
    font-size: xx-small;
    color: grey;
    margin-bottom: 1px;
    margin-left: 3px;
}

.sender_icon_container {
    float: left;
    width: 35px;
    height: 35px;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #ebebeb;
    margin-right: 10px;
    margin-left: 2%;
    cursor: pointer;
}

.sender_icon {
    float: left;
    height: 100%;
}

.sender_icon_container_invisible {
    float: left;
    width: 37px;
    height: 1px;
    margin-right: 10px;
    margin-left: 2%;

}

.sender_message_container {
    float: left;
    width: calc(70% - 50px);

}

.bubble_left {
    float: left;
    background-color: #ebebeb;
    border-radius: 15px;
    min-height: 20px;
    padding: 4px 10px 3px;

}

.bubble_right {
    float: right;
    max-width: 70%;
    background-color: #95e7f9;
    text-align: left;
    min-height: 20px;
    padding: 4px 10px 3px;
    border-radius: 15px;
    margin-right: 2%;
}

.load-full-history-button{
    border: transparent;
    background: transparent;
    font-style: italic;
    color: #2f5597;
    cursor: pointer;
}

