.chat_portal_inner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 100%;
    height: calc(85vh - 50px);
}

.search_box_bar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    border-bottom: solid 1px lightgrey;
}

.portal-search-box {
    border-radius: 10px;
    margin-left: 20px;
    width: calc(100% - 90px);
    height: 25px;
    font-size: smaller;
    background-color: #ebebeb;
    color: dimgrey;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.portal-new-chat-button {
    margin-left: 5px;
    height: 25px;
    font-size: smaller;
    border: none;
    background: transparent;
    color: #2f5597;
}

.below_search_chat_bar {
    float: top;
    height: calc(100% - 20px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.chat_icon_container {
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #ebebeb;
    margin-left: 10px;
}

.chat_icon_container_active{
    float: left;
    width: 55px;
    height: 55px;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #ebebeb;
    margin-left: 10px;
}

.chat_icon {
    float: left;
    width: 100%;
}

.portal_text_container {
    float: left;
    width: calc(100% - 100px);
    margin-left: 15px;
    margin-top: 5px;
    font-size: smaller;
}

.portal_entry {
    height: 50px;
    float: top;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-bottom: solid 1px lightgrey;
}

.portal_entry_unread {
    height: 40px;
    float: top;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-bottom: solid 1px lightgrey;
    font-weight: bolder;
}

.portal_entry_active {
    background-color: #ebebeb;
    height: 60px;
    float: top;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    border-bottom: solid 1px lightgrey;
}

.portal_time {
    color: grey;
    font-size: xx-small;
}