
.chat_view_container{
    min-width:500px;
    width: 100%;
    /*min-height: 500px;*/
    height: calc(90vh - 50px);
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
}

.portal_container{
    background-color: lightblue;
    float: left;
    width: 40%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.session_container{
    background-color: lightsalmon;
    position: relative;
    float: left;
    width: 60%;
    height: 100%;
    overflow-y: auto;
}

