.message_container {
    max-height: 80%;
    height: calc(90vh - 120px);
    overflow-y: scroll;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.input_holder {
    width: 100%;
    height: 7vh;
    border-top: solid 1px lightgrey;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.message_entry {
    font-family: "Biko", sans-serif;
    width: 100%;
    font-size: smaller;
    overflow-wrap: break-word;
    margin-bottom: 5px;
}

.message_input {
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    overflow: scroll;
    border: transparent;
    font-size: small;
}

.sender {
    font-size: xx-small;
    color: grey;
}

.bubble_left {
    background: linear-gradient(to right, #ebebeb, transparent);
    max-width: 70%;
    min-height: 20px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    border-radius: 10px;
}

.bubble_right {
    background: linear-gradient(to right, transparent, #ebebeb);
    max-width: 70%;
    text-align: right;
    margin-left: 30%;
    min-height: 20px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    border-radius: 10px;

}