.start_new_friend_container{
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 95% ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.start-new-chat-title{
    font-family:Helvetica,sans-serif;
    font-size: large;
}

.start-new-chat-subtitle{
    font-size: smaller;
    color: darkgrey;
    padding: 5px;
}

.chat_title_bar {
    width: 100%;
}

.chat_title_box {
    margin-top: 9px;
    margin-left: 20px;
    padding-left:5px;
    width: 30%;
    font-size: small;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px lightgrey;
    background: transparent;
}

.start_chat_button {
    margin-left: 3px;
    font-size: small;
    border:none;
    background: transparent;
    color: #2f5597;
    cursor: pointer;
    font-style: italic;
}

.selected_friend_bar {
    min-height: 20px;
    overflow-x: auto;
    border-bottom: solid 1px lightgrey;
}

.selected_friend_entry{
    font-size: small;
}

.potential_friend_container{
    margin-top: 7px;
}


.potential_friend_container td{
    border-bottom: solid 1px lightgrey;
}

.potential-friend-icon-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #ebebeb;
    margin-right: 10px;
}


.potential-friend-icon {
    height: 100%;
}

.potential_friend_entry{
    background-color: white;
    font-size: smaller;
    margin-top: 6px;
}