
.email-password-container{
    width:100%;
}

.email-password-left{
    margin-top: 1%;
    width:30%;
    float: left;
}

.email-password-right{
    width:70%;
    float: left;
}

.transparent-text-box{
    margin-left: 5%;
    width:60%;
    font-family: "Biko", sans-serif;
    font-size: medium;
    border:none;
    background-color: transparent;
    border-bottom: solid 1px grey;
    color: dimgrey;
}