@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@font-face {
    font-family: "Harlow Solid Italic";
    src: url("../font/HarlowSolidItalic.TTF")
}

@font-face {
    font-family: "Calibri Light";
    src: url("../font/CalibriLight.ttf")
}

@font-face {
    font-family: 'Righteous', cursive;
    src: url('https://fonts.googleapis.com/css?family=Righteous')
    /* src: url("../font/Helvetica.ttf")*/
}

@font-face {
    font-family: 'Audiowide', cursive;
    src: url('https://fonts.googleapis.com/css?family=Audiowide')
}
/* ensure there is no gap*/

.body-main-layout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../image/background.jpg") no-repeat 49% center fixed;
    background-size: cover;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover*/
}

.nav-bar {
    margin-top: 0;
    width: 100%;
    height: 48px;
    float: top;
    background-color: white;
    box-shadow: 0 0 40px 3px black;
}

.below-nav-bar {
    float: top;
    height: calc(100% - 48px);
    width: 100%;
    overflow-y: scroll;
}

.middle-panel {
    margin-top: 1.5%;
    min-width: 500px;
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    font-size: large;
    width: 80%;
    min-height: 94%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 40px 3px black;
    background-color: white;
    overflow-y: scroll;

}

.above-middle-panel {
    margin-top: 1.5%;
    min-width: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.logo-main {
    float: left;
    font-family: "Harlow Solid Italic", serif;
    font-size: 165%;
    margin-left: 20%;
    margin-top: 3px;
    margin-right: 1%;
}

.button-nav-bar {
    float: left;
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    margin-top: 15px;
    margin-left: .5%;
    font-size: medium;
    cursor: pointer;
    color: #2f5597;
    background: transparent;
    border: transparent;
    outline: none;
}
.button-nav-bar:hover{
    text-shadow: 2px 2px lightgrey;
    animation:bounce 2s;
}
/*add similar bouncing effect*/
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    80% {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }
}

.button-nav-bar:hover {
    animation: bounce 2s;
    font-size: medium;

}

.logout-button {
    float: right;
    font-family: 'Righteous', cursive;
    margin-top: 15px;
    margin-left: 1%;
    margin-right: 22%;
    font-size: small;
    cursor: pointer;
    color: #2f5597;
    background: transparent;
    border: transparent;
}

.logout-button:hover {
    font-size: large;
    color: #3174ad;
}


/* This will change headline color*/
/* but notice that border-bottom does not have gradient style*/
/*if want to use gradient style maye use border-image*/

.page_title_text{
    font-family:Audiowide;
    border-bottom: solid 1px lightgrey ;
}
