.user_inbox {
    width: 100%;
    min-height: 600px;
}

.empty_inbox_container{
    color: grey;
}

.inbox_entry_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.inbox_entry {
    min-height: 50px;
    border-bottom: solid 1px lightgrey;
}

.inbox_entry_text {
    width: calc(90% - 250px);
    margin-top: 10px;
    float: left;
}

.inbox_entry_button {
    float: right;
    border: transparent;
    background: transparent;
    color: #2f5597;
    font-size: small;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.goto_rec_friend_button{
    cursor: pointer;
    background: transparent;
    border: transparent;
    font-size: medium;
    font-style: italic;
    color: #2f5597;
}

