.img{
    border-radius: 50%
}
.name{
    font-size: 30px;
}
.group .button{
    background-color: #40a798;
    border: 1px solid white;
    color: white;
    padding: 20px 28px;
    text-align: center;
    display: block;
    width: 200px;
    cursor: pointer;
}
th{

    border: 0px solid black;
    padding: 10px;
}
td{

    border: 0px solid black;
    padding: 20px;
}
tr{

    border: 0px solid black;
    padding: 1px;
}
.button_red{
    border-radius: 50%;
    background-color: #e20049;
    border: 1px solid white;
    color: white;
    padding: 20px 28px;
    text-align: center;
    width: 200px;
    cursor: pointer;
}

