.img {
    border-radius: 50%
}

.name {
    font-size: 30px;
}

.group .button {
    background: none !important;
    border: none;
    color: blue;
    padding: 0;
    font-size: 20px;
    text-align: center;
    display: block;
    border-bottom: 1px solid blue;
    cursor: pointer;
}

.button_red {
    background: none !important;
    border: none;
    color: blue;
    padding: 0;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid blue;
}

