
.email-password-container{
    width:100%;
    animation: lightSpeedIn 2s;
}

.email-password-left{
    margin-top: 1%;
    width:30%;
    float: left;
    animation: lightSpeedIn 2s;
}

.email-password-right{
    width:70%;
    float: left;
    animation: lightSpeedIn 2s;
}

.transparent-text-box{
    margin-left: 5%;
    width:60%;
    font-family: "Biko", sans-serif;
    font-size: medium;
    border:none;
    background-color: transparent;
    border-bottom: solid 1px grey;
    color: dimgrey;
    animation: lightSpeedIn 2s;
}

/* speedin the input */
@keyframes lightSpeedIn {
    from {
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        transform: none;
        opacity: 1;
    }
}
.error-message{
    font-family: "Calibri Light", serif;
    color: red;
    font-size: small;
    margin-bottom: 3px;
    min-height:12px;
    max-width:70%;
}

.third-party-button{
    background: transparent;
    border: 0;
    cursor: pointer;
    animation: jackInTheBox2 2s;
}
/*jackin the box */
@keyframes jackInTheBox2 {
    from {
        opacity: 0;
        transform: scale(0.1) rotate(-30deg);
        transform-origin: center bottom;
    }

    50% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(3deg);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
