.buttonStyle {
    background: transparent;
    border:transparent;
    position: relative;
    font-family: "Biko", sans-serif;
    overflow: hidden;
    text-align: center;
    line-height:1.1;

}
.buttonStyle:hover{
    font-color:lightblue;
    font-size:large;
    text-align:center;
}
svg {
    position: absolute;
    top: 0;
    width:100%;
    height:auto;
    left: 100px;
    border-radius:10px;
    fill:transparent;
}

path {
    stroke-width: 2;
    stroke:transparent;
    fill: none;
    stroke-dasharray: 400;
    -webkit-transition: -webkit-transform 1s linear;
    -moz-transition: -moz-transform 1s linear;
    transition: transform 1s linear;
}

.buttonStyle:hover {
    cursor: pointer;
}



/*animated typing effect */
.text{
    color: grey;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end);
}

.text:nth-child(2){
    animation: type2 8s steps(60, end);
}


span{
    animation: blink 1s infinite;
}

@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100%; }
}

@keyframes blink{
    to{opacity: .0;}
}

.buttonStyle::before {
    border-bottom: 3px solid #000;
    border-left: 0;
    -webkit-transform-origin: 0% 100%;
}

.buttonStyle::after {
    border-top: 0;
    border-right: 0;
    -webkit-transform-origin: 50% 50%;
}