
@font-face {
    font-family: "Harlow Solid Italic";
    src: url("../../font/HarlowSolidItalic.TTF")
}

@font-face {
    font-family: "Calibri Light";
    src: url("../../font/CalibriLight.ttf")
}

@font-face {
    font-family: "Biko";
    src: url("../../font/Biko.otf")
}

.body{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}


.mid-container{
    margin-left: 10%;
    margin-right: 20%;
    height: 100%;


}

.mid-column-left{
    box-shadow: 0 0 100px 4px black;
    overflow-x: hidden;
    float: left;
    margin-left: 0;
    height: 100%;
    width:50%;
}

.mid-column-right{
    vertical-align: middle;
    float: left;
    margin-left: 0;
    height: 100%;
    width:50%;
}

.image-strip{
    height: 100%;
    float: left;
}

.right-middle{
    margin-top: 40%;
    width: 100%;
}

.logo{
    font-family: "Harlow Solid Italic", sans-serif;
    font-size: 400%;
}

.subtitle-text{
    font-family: "Calibri Light", sans-serif;
    font-size: medium;
    color: grey;
}

.button-text{
    font-family: "Biko", sans-serif;
    font-size: medium;
    cursor: pointer;
    color: #2f5597;
    background: transparent;
    border: transparent;
}
.button-text:hover{
    color:#3174ad;
    font-size:large;
    curser:pointer;

}
.separator{
    margin-top: 0;
    margin-bottom: 5px;
}

.label-text{
    font-family: "Biko", sans-serif;
    font-size: medium;
    font-style: italic;
}

.buttonStyle {
    background: transparent;
    border:transparent;
    position: relative;
    font-family: "Biko", sans-serif;
    overflow: hidden;
    text-align: center;
    line-height:1.1;

}

/*animated typing effect */
.text{
    color: grey;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 3s steps(60, end);
}

.text:nth-child(2){
    animation: type2 8s steps(60, end);
}


span{
    animation: blink 1s infinite;
}

@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100%; }
}

@keyframes blink{
    to{opacity: .0;}
}


/* ended animated typing effect */

/* make the search course button bouncing */
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.buttonStyle:hover{
    font-color:lightblue;
    font-size:large;
    text-align:center;
    animation:  bounce 2s;
}
