@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@font-face {
    font-family: "Harlow Solid Italic";
    src: url("../../font/HarlowSolidItalic.TTF")
}

@font-face {
    font-family: "Calibri Light";
    src: url("../../font/CalibriLight.ttf")
}

@font-face {
    font-family: 'Special Elite', cursive;
    /*src: url("../../font/Biko.otf")*/
    src: url("https://fonts.googleapis.com/css?family=Special+Elite")
}



.body{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}


.mid-container{
    margin-left: 10%;
    margin-right: 20%;
    height: 100%;


}

.mid-column-left{
    box-shadow: 0 0 100px 4px black;
    overflow-x: hidden;
    float: left;
    margin-left: 0;
    height: 100%;
    width:50%;
}

.mid-column-right{
    vertical-align: middle;
    float: left;
    margin-left: 0;
    height: 100%;
    width:50%;
}

.image-strip{
    height: 100%;
    float: left;
}

.right-middle{
    margin-top: 40%;
    width: 100%;
}

.logo{
    font-family: "Harlow Solid Italic", sans-serif;
    font-size: 500%; /*orignal is 400%*/
    stroke-dasharray: 100;
    animation: dash 5s linear;
}


.button-text{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: #2f5597;
    font-size: medium;
    background: transparent;
    border: transparent;


}
.button-text:nth-child(0){
    animation: dash 5s linear alternate infinite;
}
.wrapper{
    width:500px;
    margin:0 auto;
    padding-top: 100px;
    position: absolute;
}
.button-text:hover{
    color:#3174ad;
    font-size:medium;
    curser:pointer;

}
.separator{
    position:relative;
    margin-top: 0;
    margin-bottom: 5px;
}

.label-text{
    font-family: 'Roboto', sans-serif;
    font-size: medium;

}

.buttonStyle {
    background: transparent;
    border:transparent;
    position: relative;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-align: center;
    line-height:1.1;

}

/*animated typing effect */
.subtitle-text{
    font-size: Large;
    font-family: 'Roboto', sans-serif;
    color: grey;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 3s steps(30, end);
}

.subtitle-text:nth-child(2){
    animation: type2 8s steps(60, end);
}



@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 20%;}
    100%{ width: 99%; }
}

@keyframes blink{
    to{opacity: .0;}
}


/* ended animated typing effect */

/* make the search course button bouncing */
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

/* make logo swing */
@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
/* end */

.buttonStyle:hover{
    font-color:lightblue;
    font-size:large;
    text-align:center;
    animation:  bounce 2s;
    background-color: grey;
}
.buttonPadding{
    margin-top: 30px;
}
.thirdpartymenssage{
    font-size: small;
    color:grey;

}
/*jackin the box */
@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes dash {
    from {
        stroke-dasharray: 0 1000; /* zero-length stroke,
                                 1000-length gap */
    }
    to {
        stroke-dasharray: 1000 0;/* 1000-length stroke,
                                 zero-length gap */
    }
}