html, body {
    margin: 0; padding: 0;
}
.hero-bkg-animated {
    background:  url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
    width: 100%;
    text-align: center;
    height: 300px;
    margin-top: 70px;
    padding-top: 70px;
    box-sizing: border-box;
    -webkit-animation: slide 10s  infinite;
}

.hero-bkg-animated h1 {
    font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1400px 0; }
}

.buttonStyle1 {
    background: transparent;
    border:transparent;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: medium;
    line-height:1.1;
    color:black;

}
.buttonStyle1:hover{
    color:lightslategray;
}
h4{
    color:grey;
}