.tableStyle {
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 800px;
    border-collapse: collapse; border-spacing: 0;


}
td1, .th1 { border: 2px solid #CCC; height: 40px; } /* Make cells a bit taller */

.th1 {
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

.td1 {
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}
.dropbutton{
    cursor: pointer;
    border:none;
    background: transparent;
    color: #2f5597;
    font-size: small;
}
.dropbutton:hover{
    text-decoration: underline;
}
.success-message{
    font-family: "Calibri Light", serif;
    color: green;
    font-size: small;
    margin-bottom: 3px;
    min-height:12px;
    max-width:70%;
}