.schedule-button-container button{
    font-size: small;
    background: transparent;
    border-radius: 20px;
    border:solid 1px lightgrey;
    color: #2f5597;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
}

.buttonHover:hover{
    text-decoration: underline;
}
#calendar-helper-container{
    width: 90%;
    font-size: x-small;
}